header {
background-image: url("images/background.jpg");
  background-repeat: repeat-x;
}

body {
background-color:
         #D3D3D3;
}

div {
  background-color: white;
  margin-right: 360px;
  text-align: center;
}

#aside{
  margin-right: 550px;
  position: relative;
  bottom: 1147px;
  left:600px;
  float: right;
}

#fotter{

}

footer{
  right: 100px;
  text-align: center;
}