header {
background-image: url("images/background.jpg");
  background-repeat: repeat-x;
}

body {
background-color:
         #D3D3D3;
}

div {
  background-color: white;
  margin-right: 50%; /*360px */
  position:relative;
  left:10%;
  text-align: center;
}

#aside{
  margin-right: 50%;  /*550px */
  position: relative;
  bottom: 1215px;
  left:400px;
  float: right;
}

#fotter{

}

footer{
  right: 100px;
  text-align: center;
}